@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,400;1,600;1,700;1,900&display=swap');

:root{
    --var-background-color: #B0DAD9;
    --var-color-01: #0D6364;
    --var-color-02: #084E4C;
    --var-color-03: #95D257;
    --var-color-04: #01A9CD;
    --var-color-05: #F4A062;
    --var-color-06: #E8515D;
    --var-color-07: #FFFFFF;
    --var-color-08: #49BAB8;
    --var-color-09: #96DAD9;

    --var-max-width: 1400px;

    --sections-gap: 180px;

    --transition-time: 0.1s;

    --shadow-color-01: rgba(0,0,0,0.8);
    --shadow-color-02: rgba(0,0,0,0.5);
    
    font-family: "Montserrat", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
}

a{
    color: var(--var-color-04);
}

.highlight-01{
    color: var(--var-color-03)
}
.highlight-02{
    color: var(--var-color-05)
}
.highlight-03{
    font-size: 2.0em;
}
.highlight-04{
    font-size: 3.0em;
}

section{
    max-width: var(--var-max-width);
    margin: auto;
}
@media (max-width: 1000px) {
    section{
        padding: 0px 20px;
    }
}

.button-01{
    background-color: #5CB600;
    padding: 20px 40px;
    border-radius: 40px;
    box-shadow: 3px 3px 3px var(--shadow-color-02);
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

.clickable{
    cursor: pointer;
    transition: filter var(--transition-time), transform var(--transition-time);
}
.clickable:hover{
    filter: brightness(120%);
    transform: scale(1.05);
}

.shaded-text{
    text-shadow: 2px 2px 2px var(--shadow-color-01);
}

.italic{
    font-style: italic;
    font-weight: 100;
}

body{
    background-color: var(--var-background-color);
}

h2{
    color: var(--var-color-02);
    font-size: 2.0em;
    text-align: center;
}

h3{
    font-weight: bold;
    font-size: 1.5em;
}


/* 
########## ESTILOS DA SECTION 01 ############################################################
*/

#section-01{
    position: relative;
    left: 0px;
    right: 0px;
    background-image: url(images/ativo-agrupado-5.png), url(images/bloco-canto-bd.jpg);
    background-position: center left, bottom right;
    background-size: 15%, 20%;
    background-repeat: repeat-y, no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 30px;
    height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
}

#section-01__logo-afirmativa{
    width: 64px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#section-01__header{
    background: var(--var-color-01) url(images/ativo-55657.png) repeat center;
    background-size: contain;
    max-width: 830px;
    border-radius: 50px;
    padding: 50px;
    color: white;
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
}

#section-01__div-subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--var-color-02);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
#section-01__div-subtitulo > img{
    width: 30%;
    max-width: 160px;
    -webkit-filter: drop-shadow(4px 4px 4px var(--shadow-color-02));
    filter: drop-shadow(4px 4px 4px var(--shadow-color-02));
}

@media (max-width: 1100px) {
    #section-01__logo-afirmativa{
        display: none;
    }

    #section-01{
        height: calc(100vh - 100px); /* o valor dessa subracao muda para incluir a altura da barra de navegacao dos celulares */
        min-height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
    }
}

@media (max-width: 820px) {
    #section-01__div-subtitulo{
        flex-direction: column;
        gap: 20px;
        font-size: 1.2em;
    }
}

@media (max-width: 720px) {
    #section-01__header{
        padding: 30px;
        font-size: 1.5em;
    }
}


/* 
########## ESTILOS DA SECTION 02 (o que é terapia) ############################################################
*/

#section-02{
    padding-top: var(--sections-gap);
    background-image: url(images/bloco-canto-cd-cortado.jpg);
    background-position: top right;
    background-size: 20%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#section-02 > p{
    max-width: 800px;
    color: var(--var-color-02);
    font-weight: 600;
    text-align: center;
}


/* 
########## ESTILOS DA SECTION 03 (pilares) ############################################################
*/

#section-03{
    padding-top: var(--sections-gap);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#section-03__grid{
    display: grid;
    grid-template-columns: minmax(200px, 0.4fr) minmax(200px, 0.4fr);
    justify-content: center;
    gap: 50px;
}

#section-03__grid > div{
    background: url(images/texturas/textura-fundo-01-seamless.png) repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    border-radius: 60px;
    color: white;
    text-align: center;
}

#section-03__grid > div > p{
    font-size: 1.2em;
}

#section-03__grid > div:nth-child(1){background-color: var(--var-color-01);}
#section-03__grid > div:nth-child(2){background-color: var(--var-color-06);}
#section-03__grid > div:nth-child(3){background-color: var(--var-color-05);}
#section-03__grid > div:nth-child(4){background-color: var(--var-color-04);}

@media(max-width: 870px){
    #section-03__grid{
        grid-template-columns: 1fr;
        gap: 30px;
    }
}


/* 
########## ESTILOS DA SECTION 04 (professores) ############################################################
*/

#section-04{
    background-image: url(images/bloco-canto-ce.jpg), url(images/bloco-canto-be.jpg), url(images/bloco-canto-cd.jpg), url(images/bloco-canto-bd.jpg);
    background-repeat: no-repeat;
    background-position: top left, bottom left, top right, bottom right;
    background-size: 20%;
    margin-top: var(--sections-gap);
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px
}

#section-04__grid{
    display: grid;
    grid-template-columns: minmax(100px, 0.33fr) minmax(100px, 0.33fr) minmax(100px, 0.33fr);
    grid-template-areas:
        "prof prof prof"
        "prof prof prof"
        "prof prof prof"
        "moze moze moze"
    ;
    gap: 30px;
}

.section-04__grid-item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    color: black;
    font-size: 1.3em;
    text-align: center;
}

.section-04__grid-item:nth-child(1), .section-04__grid-item:nth-child(4), .section-04__grid-item:nth-child(7){
    justify-self: end;
}
.section-04__grid-item:nth-child(3), .section-04__grid-item:nth-child(6), .section-04__grid-item:nth-child(9){
    justify-self: start;
}

.section-04__grid-item > img{
    width: 100%;
    max-width: 200px;
    border-radius: 40px;
    border: 10px solid var(--var-color-02);
}
.section-04__grid-item > p{
    width: 100%;
    max-width: 200px;
}

#section-04__grid-item-mozer{
    grid-area: moze;
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
#section-04__grid-item-mozer > img{
    max-width: 250px;
    border-radius: 40px;
    border: 10px solid var(--var-color-02);
}
#section-04__grid-item-mozer > img:hover{
    cursor: pointer;
}
#section-04__grid-item-mozer > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
#section-04__grid-item-mozer p:nth-child(1){
    font-size: 2.15em;
    font-weight: bold;
}
#section-04__grid-item-mozer p:nth-child(2){
    font-size: 1.25em;
}

@media (max-width: 570px) {
    #section-04__grid-item-mozer > img{
        max-width: 200px;
    }
}

@media (max-width: 550px) {
    .section-04__grid-item > img, #section-04__grid-item-mozer > img{
        border: 7px solid var(--var-color-02);
    }
}

@media (max-width: 500px) {
    #section-04__grid{
        grid-template-columns: minmax(100px, 0.5fr) minmax(100px, 0.5fr);
        grid-template-areas:
            "prof prof"
            "prof prof"
            "prof prof"
            "prof prof"
            "prof prof"
            "moze moze"
        ;
    }

    #section-04__grid-item-mozer{
        flex-direction: column;
    }

    #section-04__grid-item-mozer > div{
        font-size: 0.9em;
    }
}

@media (max-width: 350px) {
    .section-04__grid-item > img, #section-04__grid-item-mozer > img{
        border: 7px solid var(--var-color-02);
    }

    #section-04__grid-item-mozer > img{
        max-width: 150px;
    }

    #section-04__grid-item-mozer > div{
        font-size: 0.75em;
    }
}


/* 
########## ESTILOS DA SECTION 05 (conteudo) ############################################################
*/

#section-05{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}

.div_cards_conteudo2{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.div_cards_conteudo2 > div{
    background: var(--var-color-02) url(images/texturas/textura-pequena-01.jpg) no-repeat center right;
    background-size: 50%;
    border-radius: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
.div_cards_conteudo2 > div:nth-child(1) > p:nth-child(1){
    line-height: 1.0em;
    text-align: left;
}

#section-05__div_list{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#section-05__div_list > ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    max-width: 500px;
}

#section-05__div_list > ul > li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.25em;
    font-weight: bold;
}

.disc-list{
    min-width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: var(--var-color-06);
}

#section-05__div_list > ul{
    list-style-type: circle;
}
#section-05__div_list > ul > ul > li{
    margin-left: 50px;
    font-size: 1.1em;
    font-weight: 600;
}

@media (max-width:1300px){
    #section-05__div_list{
        flex-direction: column;
        gap: 80px;
    }
}

@media(max-width: 720px){
    .div_cards_conteudo2{
        justify-items: center;
        gap: 15px;
    }

    .div_cards_conteudo2 > div{
        font-size: 1.0em;
    }

    #section-05__div_list{
        gap: 40px;
    }

    #section-05__div_list > ul > li{
        font-size: 0.9em;
    }

    #section-05__div_list > ul > ul > li{
        font-size: 0.8em;
    }
}


/* 
########## ESTILOS DA SECTION 06 (depoimento) ############################################################
*/

#section-06{
    padding-top: var(--sections-gap);
    display: flex;
    flex-direction: column;
    gap: 70px;
}

#section-06__grid-iframes{
    display: grid;
    grid-template-columns: minmax(300px, 0.45fr) minmax(300px, 0.45fr);
    justify-content: center;
    justify-items: center;
    gap: 50px;
}
#section-06__grid-iframes > iframe{
    width: 100%;
    max-width: 500px;
    height: 300px;
}

#section-06__grid-iframes > iframe:nth-child(odd){
    justify-self: end;
}
#section-06__grid-iframes > iframe:nth-child(even){
    justify-self: start;
}

#secton-06__container-depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px 20px ;
}

.div-depoimento{
    background-color: var(--var-color-02);
    border-radius: 50px;
    padding: 40px 40px 30px 40px;
    max-width: 950px;
    color: white;
    text-align: center;
    transition: filter var(--transition-time);
}
.div-depoimento:hover{
    cursor: pointer;
    filter: brightness(130%);
}

.p-depoimento{
    overflow-y: hidden;
    max-height: 100px;
}

.div-depoimento.active .p-depoimento{
    max-height: fit-content;
}
.div-depoimento.active .div-depoimento__ler-mais{
    opacity: 0%;
}

.div-depoimento > div{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-depoimento__ler-mais{
    text-decoration: underline;
    min-width: 70px;
    align-self: flex-start;
}

.div-depoimento > div > p:nth-child(2){
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
    /* box-shadow: 0px -30px 00px red; */
}

@media (max-width: 720px) {
    #section-06__grid-iframes{
        grid-template-columns: minmax(100px, 1fr);
    }

    #section-06__grid-iframes > iframe:nth-child(odd){
        justify-self: center;
    }
    #section-06__grid-iframes > iframe:nth-child(even){
        justify-self: center;
    }
}


/* 
########## ESTILOS DA SECTION COMPRAR (07) ############################################################
*/

#section-comprar{
    background: url(images/ativo-agrupado-5-horizontal-jpg.jpg) repeat-x center top, url(images/ativo-agrupado-5-horizontal-jpg.jpg) repeat-x center bottom;
    background-size: 50%;
    padding: var(--sections-gap) 0px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#section-comprar__div-preco{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2.0em;
    font-weight: 600;
}

#section-comprar_div-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#section-comprar_div-images img{
    max-width: 128px;
}

#section-comprar__div-abpe > div{
    position: absolute;
    margin-top: -25px;
    display: flex;
    gap: 10px;
    align-self: flex-end;
    font-size: 0.9em;
    font-weight: 600;
    color: #263b56;
}

@media (max-width: 720px){
    #section-comprar{
        padding: 90px 0px;
    }
    
    #section-comprar__div-preco{
        font-size: 1.5em;
    }

    #section-comprar_div-images{
        flex-direction: column;
    }

    #section-comprar__div-abpe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-comprar__div-abpe > div{
        position: relative;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


/* 
########## ESTILOS DA SECTION 08 (perguntas) ############################################################
*/

#section-08{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#section-08__div-fale-conosco{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#icone-wpp{
    width: 96px;
}

#section-08__div-perguntas-frequentes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    color: white;
}

#section-08__div-perguntas-frequentes > h2{
    margin-bottom: 40px;
}

#section-08__div-perguntas-frequentes > div{
    background-color: #0a4041;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    filter: brightness(80%);
    transition: filter var(--transition-time);
}
#section-08__div-perguntas-frequentes > div:hover{
    filter: brightness(110%);
    cursor: pointer;
}

#section-08__div-perguntas-frequentes > div.active{
    filter: brightness(100%);
}

#section-08__div-perguntas-frequentes > div > h3{
    font-size: 1.25em;
}

#section-08__div-perguntas-frequentes > div > p{
    display: none;
}

#section-08__div-perguntas-frequentes > div.active > p{
    display: block;
}


/* 
########## ESTILOS DA SECTION 09 (rodape) ############################################################
*/

#section-09{
    padding: 80px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#section-09 > a > img{
    max-width: 64px;
}

#section-09 > p{
    max-width: 800px;
}

#section-09 > a:nth-child(3){
    background-color: var(--var-color-02);
    color: white;
    width: 100%;
    padding: 5px;
    text-decoration: underline;
}

@media (max-width: 720px) {
    #section-09 > p{
        font-size: 0.8em;
    }
}












